.info-1-body {
  height: 442px;
  gap: 0px;
  opacity: 0px;
  background-color: #fefeff;
  display: flex;
  padding: 0px 50px 50px 0px;
  justify-content: center;
  gap: 30px;
}

/* @media (max-width:1096px) {
  .info-1-body{
    justify-content: space-evenly;
  }
} */

.img-info {
  position: relative;
  width: 40%;
}

.content-info {
  position: relative;
  top: 30px;
  width: 45%;
}

.heading-info {
  font-family: "Inter";
  font-size: 01rem;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: rgba(77, 77, 77, 1);
  margin-bottom: 10px;
}

.cap-info p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(113, 113, 113, 1);
  margin-bottom: 20px;
}

.lrn-btn-info {
  width: Hug (151px) px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  border: 0;
  opacity: 0px;
  background-color: rgba(76, 175, 79, 1);
  color: #fefeff;
}

@media (max-width: 900px) {
  .info-1-body {
    padding: 0 0 50px 0;
  }

  .content-info{
    position: relative;
    top: 70px;
  }

  .img-info{
    position: relative;
    top: 20px;
  }

  .heading-info {
    font-size: 0.7rem;
    line-height: 30px;
  }
  
}

@media (max-width:650px) {
  .info-1-body{
    flex-wrap: wrap;
  }
  
  .content-info{
    width: 50%;
  }
  
  .cap-info p{
    font-size: 10px;
    line-height: 15px;
  }
}

