.mrkt-body {
  height: 466px;
  gap: 16px;
  opacity: 0px;
  background-color: #fefeff;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
}

.text-mrkt h1 {
  font-family: "Inter";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: rgba(77, 77, 77, 1);
  margin-bottom: 10px;
}

.text-mrkt p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(113, 113, 113, 1);
  margin: auto;
  width: 628px;
  margin-bottom: 10px;
}

.main-mrkt {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.img-mrkt {
  margin: 0px 5px;
  position: relative;
  width: 25%;
  height: 280px;
}

@media (max-width: 1119px) {
  .img-mrkt {
    height: 200px;
  }
}

.ovr-the-img-mrkt {
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  position: relative;
  left: 5%;
  top: 65%;
  text-align: center;
  width: 90%;
  padding: 16px;
  gap: 20px;
  border-radius: 8px;
  opacity: 0px;
  background-color: rgba(245, 247, 250, 1);
}

.ovr-the-img-mrkt p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width:1096px) {
  .ovr-the-img-mrkt{
    padding: 10px;
  }
  .ovr-the-img-mrkt p{
    font-size: 0.90rem;
  }
  
}



.ovr-the-img-mrkt button {
  background-color: rgba(245, 247, 250, 1);
  border: 0;
  color: rgba(76, 175, 79, 1);
  font-size: 1rem;
  font-weight: 600;
}
