.footer-body {
  height: Hug (328px) px;
  padding: 64px 165px 64px 165px;
  gap: 125px;
  opacity: 0px;
  background-color: rgba(38, 50, 56, 1);
  display: flex;
}

.cpywrt-footer p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 40px;
  color: rgba(245, 247, 250, 1);
}

.socials-footer {
  display: flex;
  margin-top: 40px;
}

.socio-logo {
  width: 32px;
  height: 32px;
  gap: 0px;
  opacity: 1;
  border-radius: 1rem;
}

.support-footer h1 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.support-footer {
  display: flex;
  color: rgba(255, 255, 255, 1);
  gap: 60px;
}

.support-footer h1 {
  margin-bottom: 20px;
}

li {
  list-style: none;
  margin-bottom: 16px;
}

.email-footer h1 {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color:  rgba(255, 255, 255, 1);
}

.email-footer input {
  width: 255px;
  height: 40px;
  top: 52px;
  gap: 0px;
  border-radius: 8px ;
  opacity: 0.2px;
  background-color:rgb(55, 62, 67) ;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 20px;
  border: 0;
  color:  rgba(255, 255, 255, 1);
  padding-left: 20px;
}
